version: "3"

services:
  web:
    container_name: web
    build:
      dockerfile: Dockerfile
      context: ./apps/web
    volumes:
      - /apps/web/node_modules
      - ./web:/apps/web
    restart: false
    environment:
      - NODE_ENV=production
    ports:
      - "3000:3000"
    networks:
      - app_network
  docs:
    container_name: docs
    build:
      dockerfile: Dockerfile
      context: ./apps/docs
    volumes:
      - /apps/docs/node_modules
      - ./docs:/apps/docs
    restart: false
    environment:
      - NODE_ENV=production
    ports:
      - "3001:3000"
    networks:
      - app_network
networks:
  app_network:
    external: false